html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
  overflow: hidden;
}

#container {
  /* border: solid; */
  /* border-width: 1px; */
  /* border-color: green; */
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.placeholder,
.element,
video {
  width: 100%;
  height: 100%;
}

#pool {
  display: none;
}

.swf {
  /* border: solid; */
  /* border-width: 1px; */
  /* border-color: red; */
}
